.static-button {
    background-color: transparent;
    border: none;
    padding: 1px;
    margin: 0;
    width: 24px; 
    height: 24px; 
    cursor: pointer;
}

.post-preview {
  font-size: 12px;
  color: #555;

  /* Required for line clamp */
  display: -webkit-box;
  -webkit-box-orient: vertical;

  /* Clamp to 1 line */
  -webkit-line-clamp: 1;
  line-clamp: 1; /* modern spec */

  overflow: hidden;
  text-overflow: ellipsis;
}
