{% load bootstrap4 %}
{% load static %}

<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
          shrink-to-fit=no">
    <title>Steemit Participation Pages</title>

    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% block styles %}
    <link rel="stylesheet" href="{% static 'participants/styles.css' %}">
    {% endblock styles %}

</head>

<body class="bg-light">
    <a class="navbar-brand" href="{% url 'posts:index' %}">
        <img class="img-fluid" src="{% static 'home/steemit-logo.png' %}" width="125" height="125">
    </a>

    {% block page_header %}{% endblock page_header %}

    <main role="main">
        {% block content %}{% endblock content %}
    </main>
</body>

</html>