{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="jumbotron">
    <h1 class="display-3">Thank you for Participating!</h1>
    <p class="lead">
        We value your time and input.
    </p>

    <h1>You may not exit the survey!</h1>
    <a style="font-weight:bold; color:black; padding:10px;" href='https://baylor.qualtrics.com/jfe/form/SV_bgvlrhVlwUXV6p8'>EXIT SURVEY</a>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <p>Baylor</p>
        </div>
    </div>
</div>
{% endblock page_header %}