{% extends "base.html" %}
{% load static %}

{% block page_header %}
    {% with participant=user active_tab="wallet" %}
        {% include "participants/participant_info.html" %}
    {% endwith %}
{% endblock page_header %}

{% block content %}
<div class="wallet">
    <!-- STEEM -->
    <div class="wallet-section">
        <div class="wallet-columns">
            <div class="wallet-col wallet-info">
                <div class="wallet-header">STEEM</div>
                <p class="wallet-description">
                    Tradeable tokens that may be transferred anywhere at anytime.
                    Steem can be converted to STEEM POWER in a process called powering up.
                </p>
            </div>
            <div class="wallet-col wallet-balance-col">
                <div class="wallet-balance-box">
                    <div class="wallet-balance">{{ user.steem }} STEEM</div>
                </div>
            </div>
        </div>
    </div>

    <!-- STEEM POWER -->
    <div class="wallet-section">
        <div class="wallet-columns">
            <div class="wallet-col wallet-info">
                <div class="wallet-header">STEEM POWER</div>
                <p class="wallet-description">
                    Influence tokens which give you more control over post payouts and allow you to earn on curation rewards.
                    Part of your STEEM POWER may be delegated. Delegation is donated for influence or to help new users perform actions.
                </p>
            </div>
            <div class="wallet-col wallet-balance-col">
                <div class="wallet-balance-box">
                    <div class="wallet-balance">{{ user.steem_power }} SP</div>
                </div>
            </div>
        </div>
    </div>

    <!-- STEEM DOLLARS -->
    <div class="wallet-section">
        <div class="wallet-columns">
            <div class="wallet-col wallet-info">
                <div class="wallet-header">STEEM DOLLARS</div>
                <p class="wallet-description">
                    Tradeable tokens that may be transferred anywhere at anytime.
                    SBD can be converted to STEEM over 3.5 days.
                </p>
            </div>
            <div class="wallet-col wallet-balance-col">
                <div class="wallet-balance-box">
                    <div class="wallet-balance">${{ user.steem_dollars }}</div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}
